@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/***** Base*****/
html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Permanent Marker', sans-serif;
}

h1 {
  font-size: 5em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.headshot {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-section {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generate-wrapper form label {
  font-size: 2em;
}

.generate-wrapper form input {
  width: 30px;
}

.lorem-paragraphs {
  width: 600px;
  background-color: white;
  height: 300px;
  margin-top: 50px;
  border: 1px solid black;
}
